@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      background-color: #D3D9FF;
      font-family: Arial, sans-serif;
      color: #D3D9FF;
      margin: 0;
      padding: 0;
}

 header{
    background-color: #2F2C79;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 200px;
}

nav{
    flex: 1;
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    gap: 90px;
    align-items: center;
    list-style-type: none;
    justify-content: center;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Lato", sans-serif;

    &:hover {
        color: black;
        transition: 0.4s;
    }
}

h1 {
      text-align: center;
      color: black;
      margin: 20px 0;
}

table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;
}

th {
      background-color: #1F1D5C;
      color: white;
      padding: 12px;
      text-align: center;
      font-family: 'Lato', sans-serif;
}

td {
      padding: 10px;
      text-align: center;
      color: #D3D9FF;
      border-right: 2px solid white;
}

tr:nth-child(even) {
      background-color: #3C398C;
      border-bottom: 1px solid white;
}

tr:nth-child(odd) {
      background-color: #2F2C79;
      border-bottom: 1px solid white;
}

.media {
      font-weight: bold;
      color: #FF8FA3;
}