@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D3D9FF;
    color: #fff;
    padding: 40px;
  }

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2F2C79;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

thead {
    background-color: #000020;
}

thead th {
    padding: 12px;
    font-size: 16px;
    text-align: left;
}

tbody td {
    padding: 10px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

tbody tr:last-child td {
    border-bottom: none;
}

.faltas {
    font-weight: bold;
    text-align: center;
    color: #ffcccb;
}